@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Parametre generaux*/

/* font-family: 'Rubik Mono One', sans-serif; */
/* font-family: 'Anton', sans-serif; */
/* font-family: 'Roboto Mono', monospace; */

*::selection {
        background: #000101;
        color: #fefeff;
}
html {
    scroll-behavior: smooth;
}

body{
    background: #000101;
    color: #fefeff;
    transition: 0.7s ease-in-out;

}

h2 {
    font-size: calc(2rem + 3vw);
    text-align: center;
    color: rgb(217,217,217);
    font-family: 'Rubik Mono One', sans-serif;
    letter-spacing: 2px;
}
.title{
    font-size: calc(2rem + 3vw);
    letter-spacing: 0;
}
span {
        display: inline-block;
}
a, 
a:visited {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #fefeff;
    transition: 0.1s linear;
    font-size: calc(0.8rem + 0.8vw)
}
a::after {
        content: ""; 
        position: absolute;
        width: 100%;
        background: #fefeff;
        height: 1px;
        bottom: -4px;
        left: 0;
        transform-origin: left;
}
a:hover{
    transform: scale(1.04);
    color: rgb(217,217,217);
}
a:hover::after{
    animation: animLink 1.4s infinite ease-in-out;
}
@keyframes animLink {
    50%  {
    transform: scaleX(0.2);
    }
    100% {
        transform: scaleX(1);
    }
}
.img {
    height: 395px;
    width: 100vw;
    max-width: 395px;
    margin: 0 auto;
    filter: grayscale(100%);
    transition: 1.6s;
}
.img:hover {
    filter: grayscale(10%);
}

.line {
    height: 2px;
    width: 70%;
    margin: 0 auto;
    background: #000101;
    transition: 1s cubic-bezier(0.77, 0, 0.18, 1);
    /* transform-origin: right; */
    transition-delay: 0.45s;
    opacity: 0;
    transform: scaleX(0);
}
.line-wrapper.is-inview .line{
    opacity: 1;
    transform: scaleX(1);
}
.wrapper {
    perspective: 900px;
}
.appear {
    opacity: 0;
    transform: translateY(100%) rotateX(-80deg);
    transform-origin: top center;
    transform-style: preserve-3d;
    transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.appear.is-inview {
    transition-delay: 1s;
    opacity: 1;
    transform: none;
}


/* Parametre par ordre d'apparition */

header {
    height: 100vh;
    position: relative;
    margin: 2vw 2vw 0;
}
.links {
    font-family: 'Roboto Mono', sans-serif;
    display: flex;
    justify-content: space-between;
}
#h1-wrapper {
        transition-delay: 0.3s;
}
h1 {
    font-family:'Rubik Mono One', sans-serif;
    font-size: calc(1.5rem + 3vw);
    margin-top: 70px;
    letter-spacing: 4px;
    color: #fefeff;
}
#h2-1 {
    transition-delay: 0.9s;
}
#h2-2{
    transition-delay: 1.2s;
}
header h2 {
    font-size: calc(1rem + 2vw);
    margin: 18px 0;
    text-align: left;
}
.scroll-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3.5vw;
    color: rgb(217,217,217);
    font-size: calc(0.8rem + 0.5vw);
    font-family: 'Roboto Mono', sans-serif;
}
.about {
    margin: 400px 0 250px;
}
.img1 {
    background: url(../img/photo_portfolio.jpg) top/cover;
}
.h2-wrapper {
    mix-blend-mode: exclusion;
    margin: -220px 0 200px;
}
.about p {
    width: 70%;
    min-width: 280px;
    text-align: center;
    margin: 0 auto;
    line-height: calc(7px + 4.5vw);
    font-size: calc(1rem + 0.5vw);
    letter-spacing: 1px;
    font-family: 'Roboto Mono', sans-serif ;
}
.cv_link {
    text-align: center;
}
.about a {
    width: 70%;
    min-width: 280px;
    margin: 0 auto;
    line-height: calc(7px + 4.5vw);
    font-size: calc(1rem + 0.8vw);
    letter-spacing: 1px;
    font-family: 'Roboto Mono', sans-serif ;
    color: #000101;
}
.about a:hover {
    background: #000101;
    color: #fefeff;
}
.skills {
    margin: 200px 0 250px;
}
.skills h2 {
    margin-bottom: 150px;
}
.skills .wrapper {
    margin: 30px 0;
}
.skills .appear {
    text-align: center;
    transition-delay: 0.6s;
}
.skills p {
    font-size: calc(1rem + 3vw);
    font-family: 'Rubik Mono One', sans-serif;
    letter-spacing: 2;
    background: #000101;
    color: #fefeff;
    display: inline-block;
    padding: 4px 4px 2px 4px;
}
.portfolio {
    margin: 200px 0;
}
.projects-container {
    margin-top: 100px;
}
.project {
    position: relative;
    width: 60vw;
    max-width: 600px;
    margin:50px, 5vw ;
}
.project::before {
    content: "";
    position: absolute;
    height: 110%;
    width: 100%;
    top: -3px;
    background: #fefeff;
    transition: width 1s ease-out;
    transition-delay: 0.85s;
}
.project.is-inview::before {
    width: 0;
}
#p1 {
    margin-left: 5%;
}
#p2 {
    margin-left: 50%;
}
#p3 {
    margin-left: 5%;
}
.project img{
    transition: 0.4s ease-in-out;
    width: 100%;
}
.project:hover img {
    filter: brightness(20%);
}
.projects-infos {
    position: absolute;
    top: 50%;
    transform: translate(-50px, -50%);
    margin-left: 8vw;
    transition: 0.4s ease-out;
    opacity: 0;
    font-family: 'Roboto Mono', sans-serif;
}
.project:hover .projects-infos {
    opacity: 1;
    transform: translate(0, -50%);

}
.projects-infos a {
    font-size: calc(1rem + 1vw);
}
.projects-infos p {
    font-size: 2rem;
    margin-top: 1.5vw;
    color: #fefeff;
}
footer {
    margin: 150px 0 120px;
}
footer p { 
    font-size: calc(1rem + 2vw);
    margin: 25px 0;
    font-family:'Roboto Mono', sans-serif ;
    text-align: center;
}
#l2 {
    transition-delay: 1.2s;
}
#l3 {
    transition-delay: 1.6s;
}
#l4 p {
    color: #000101;
}
#l6 p {
    color: #000101;
}
footer a {
    color: #000101;
    font-size: calc(1rem + 2vw)
}
.img2 { 
    background: url(../img/photo2.jpg) center/cover;
}